@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-profile-main form {
	@apply w-2/5 mob:w-4/5;
}

.edit-profile-main form label {
	@apply text-4xl;
}

.edit-profile-main form input {
	@apply w-full;
}

.forms-container form label {
	@apply mb-1 mt-8;
}

.forms-container form input {
	@apply bg-gradient-to-r from-gray-800 to-gray-600 focus:outline-none rounded-xl p-3 text-2xl mb-2;
}

.forms-container form button {
	@apply relative text-xl px-2 py-2 border-b-2 transition-colors hover:text-black;
}

.forms-container form button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: -1;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: transform 0.2s ease;
}

.forms-container form button:hover:after {
	transform: scaleY(1);
}

.change-success-check-mark {
	@apply text-white text-4xl ml-4 duration-300 opacity-0;
}

.change-success-check-mark.show-check {
	@apply opacity-100;
}

.forms-container form button[disabled] {
	@apply cursor-not-allowed pointer-events-none text-gray-500;
}

.forms-container form button[disabled]:after {
	@apply scale-y-0;
}
